<div id="tag">
  <% if(is_tag()){ %>

    <p class="tag-title">
      / <a href="<%=url_for(/tag/)%>">tags</a>
      / <a href="<%=page.tag.path%>"><%=page.tag%></a> /
    </p>
    <%- partial('partials/post_list') %>

  <% }else{ %>

    <p class="tag-title">/ tags /</p>
    <%- partial('partials/tag_cloud') %>
    
  <% } %>

</div>